/Hausuebung 2/build/
/Hausuebung 4/build/
/Hausuebung 4/dist/
/reciprocal_sum_student_stub/build/
/010_web_crawler/nbproject/private/
/010_web_crawler/build/
/11 H ProducerConsumerProblem Stub/build/
/Blockchain/10 H Blockchain/nbproject/private/
/Blockchain/10 H Blockchain/build/
/Hausuebung 10/build/
/Hausuebung 10/dist/